
number 1:  <b><%= @analysis.num1 %></b><br>

number 2:  <b><%= @analysis.num2 %></b><br>

result:  <b><%= calculate(@analysis.num1, @analysis.num2) %></b><br>


result:  <b><%= calculate(@bins.find_by(colour: "blue").quantity, @bins.find_by(colour: "red").quantity) %></b>
<h2>bins</h2>

<table>
  <thead>
  <tr>
    <th>Colour</th>
    <th>Quantity</th>
    <th colspan="3"></th>
  </tr>
  </thead>

  <tbody>
  <% @bins.each do |bin| %>
    <tr>
      <td><%= bin.colour %></td>
      <td><%= bin.quantity %></td>
      <td><%= link_to 'Edit', edit_user_bin_path(@user, bin) %></td>
      <td><%= link_to 'Destroy', '#' %></td>
    </tr>
  <% end %>
  </tbody>
</table>



<%= link_to "Edit", user_analysis_edit_path %>
