<%= form_with( model: @analysis, url: user_analysis_edit_path, method: 'patch', local: true) do |form| %>

  <div>
    <%= form.label :num1 %>
    <%= form.number_field :num1 %>
  </div>


  <div>
    <%= form.label :num2 %>
    <%= form.number_field :num2 %>
  </div><br>

  <div>
    <%= form.submit %>
  </div>

<% end %>

